/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
/* img,
picture {
  max-width: 100%; 
  display: block;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Montserrat", sans-serif;
  background: hsl(30deg, 38%, 92%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.product-card {
  background: hsl(0deg, 0%, 100%);
  color: hsl(212deg, 21%, 14%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 37.5rem;
}

.product-card .card-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 12.5rem;
  flex-grow: 1;
}

.product-card .card-image .card-picture {
  display: flex;
}

.product-card .card-image .card-picture > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card .card-info {
  padding: 2rem 2rem 20px 2rem;
  flex: 1 0 12.5rem;
  flex-grow: 1;
}

.product-card .card-info .main-title {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  margin: 1.2rem 0;
}

.product-card .card-info .card-title {
  color: hsl(228deg, 12%, 48%);
  font-size: 0.8rem;
  letter-spacing: 0.35em;
  font-weight: 200;
  text-transform: uppercase;
}

.description {
  font-size: 0.9rem;
  line-height: 1.7;
  font-weight: 200;
  color: hsl(228deg, 12%, 48%);
}

.product-card .card-info .price {
  font-family: "Fraunces", sans-serif;
  color: hsl(158deg, 36%, 37%);
  margin: 1.4rem 0;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.7rem;
}

.product-card .card-info .sec-price {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 0.875rem;
  font-weight: 400;
}

button {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
  font-weight: 700;
  border: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: rgb(115, 182, 115);
  color: white;
}

button img {
  position: relative;
  right: 8px;
  top: 3px;
}

@media screen and (max-width: 41.25rem) {
  .product-card .card-image,
  .product-card .card-info {
    flex: 1 0 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .card-product {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  @media screen and (max-width: 41.25rem) {
    .product-card .card-image,
    .product-card .card-info {
      flex: 1 0 100%;
      width: 100%;
    }
  }
}
